<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-plus-square"></i>
    New Quote
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Quote</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <form>
                <div class="form-group">

                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="title" name="title"  required>
                    <div class="alert alert-danger">
                      <p>Name is required</p>
                    </div>
                </div>
                <div class="form-group">

                    <label for="name">Title</label>
                    <input type="text" class="form-control" id="title" name="title"  required>
                    <div class="alert alert-danger">
                      <p>Title is required</p>
                    </div>
                </div>
                <div class="form-group">

                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="4"  name="description"  required></textarea>
                    <div  class="alert alert-danger">
                      <p>Description is required</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save Quote</button>
                  </div>
            </form>

        </div>
      </div>
    </div>
  </div>