
<div class="container row">
  <div *ngFor='let quote of quotes' class="col-md-4 mb-4 d-flex align-items-stretch">      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{quote.author}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{quote.title}}</h6>
            <p class="card-text">{{quote.quote}}</p>
            <a href="#" class="card-link"><i class="far fa-thumbs-up"></i>{{quote.upvote}}</a>
            <a href="#" class="card-link"><i class="far fa-thumbs-down"></i>{{quote.downvote}}</a>
            <a href="#" class="card-link"><i class="fas fa-trash"></i></a>
          </div>
        </div>
  </div>

